.projectData h1,
.projectData h2,
.projectData h3,
.projectData span {
    color: #CCCCCC;
}

.projectData {
    width: 50vh;
    background-color: black;
}

.projectDataDark {
    width: 50vh;
}

.projectDataDark h1,
.projectDataDark h2,
.projectDataDark h3,
.projectDataDark span {
    color: #666161;
}

.projectData h3 {
    font-weight: bold;
    font-size: 14px;
}

.projectDataDark h3 {
    font-weight: bold;
    font-size: 14px;
}

.projectData span {
    font-size: 14px;
}

.projectDataDark span {
    font-size: 14px;
}

.projectData h1 {
	font-size: 36px;
} 

.projectDataDark h1 {
	font-size: 36px;
} 

.projectData h2 {
    font-weight: 600;
    font-size: 18px;
}

.projectDataDark h2 {
    font-weight: 600;
    font-size: 18px;
}

.projectData *{
    border-color: #CCCCCC !important;
}

.projectDataDark *{
    border-color: #666161 !important;
}