.projectTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.projectTitle > h1 {
    margin: 0px;
}

.projectTitle > svg {
	margin: 1em;
	cursor: pointer;
	font-size: 20px;
}