.technologiesRow {
    display: flex;
    flex-direction: column;
}


.technologiesContainer {
	display: flex;
	flex-wrap: wrap;

}

.technologieContainer {
    display: flex;
	padding: 12px;
	margin: 3px;
	background-color: #CCCCCC;
    justify-content: center;
	justify-items: center;
	width: 6.5em !important;
	height: 6.5em !important;
	box-sizing: border-box;
	cursor: pointer;
}

.technologieContainer img {
    width: 100%;
	height: 100%;
    object-fit: contain;
}



