.apoiadoresBanner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #605F62;
    height: 40vw;
    align-items: left;
    z-index: 2; 
}

.squares{
    align-items: center;
    display: grid;
    grid-template-columns: 15vw 15vw 15vw;
    grid-template-rows: 15vw 15vw;
    justify-items: center;
    padding: 2.5em;
    /*padding-right: 1.5vw;
    padding-top: 1.5vw;*/ 
}

.squares > *{
    height: 12vw;
    width: 12vw;
    background-color: #E5E5E5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

#imageOne{
    height: 50%;
    -webkit-filter: contrast(0%) brightness(200%) saturate(0%) invert(60%);
    filter: contrast(0%) brightness(200%) saturate(0%) invert(60%);
}

#imageTwo{
    height: 30%;
    -webkit-filter: contrast(0%) brightness(200%) saturate(0%) invert(70%);
    filter: contrast(0%) brightness(200%) saturate(0%) invert(70%);
}

#imageThree{
    height: 70%;
    -webkit-filter: contrast(80%) brightness(200%) saturate(0%) invert(20%);
    filter: contrast(80%) brightness(200%) saturate(0%) invert(20%);
}

#imageFour{
    height: 18%;
    -webkit-filter: contrast(70%) brightness(200%) saturate(0%) invert(20%);
    filter: contrast(70%) brightness(200%) saturate(0%) invert(20%);
}

.squares > *:hover:not(.emptySquare){
    background-color: #bdbbbb;
}
@media screen and (max-width: 768px) {

    .apoiadoresBanner {
        flex-direction: column;
        align-items: center;
        height: 200vw;
    }

    .squares{
        padding-top: 0;
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 9em;
        grid-template-columns: 45vw 45vw;
        grid-template-rows: 45vw 45vw;
    }
    
    .squares > *{
        height: 40vw;
        width: 40vw;
    }

    .emptySquare{
        display: none;
    }
}



