.apoiadoresBanner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #605F62;
    height: 40vw;
    align-items: left; 
}

.squares{
    align-items: center;
    display: grid;
    grid-template-columns: 18vw 18vw 18vw;
    grid-template-rows: 18vw 18vw;
    justify-items: center;
    padding-right: 1.5vw;
    padding-top: 1.5vw; 
}

.squares > *{
    height: 15vw;
    width: 15vw;
    background-color: #E5E5E5;
    display: flex;
    align-items: center;
    justify-content: center;
}

#imageOne{
    height: 50%;
    -webkit-filter: contrast(0%) brightness(200%) saturate(0%) invert(60%);
    filter: contrast(0%) brightness(200%) saturate(0%) invert(60%);
}

#imageTwo{
    height: 30%;
    -webkit-filter: contrast(0%) brightness(200%) saturate(0%) invert(70%);
    filter: contrast(0%) brightness(200%) saturate(0%) invert(70%);
}

#imageThree{
    height: 70%;
    -webkit-filter: contrast(80%) brightness(200%) saturate(0%) invert(20%);
    filter: contrast(80%) brightness(200%) saturate(0%) invert(20%);
}

#imageFour{
    height: 18%;
    -webkit-filter: contrast(70%) brightness(200%) saturate(0%) invert(20%);
    filter: contrast(70%) brightness(200%) saturate(0%) invert(20%);
}

.squares > *:hover:not(.emptySquare){
    background-color: #bdbbbb;
}
@media screen and (max-width: 768px) {

    .apoiadoresBanner {
        flex-direction: column;
        align-items: center;
        height: 200vw;
    }

    .bannersText {
        align-items: center;
        font-size: 3vw;
        height: 40px;
        padding-left: 0;
        
    }

    .squares{
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 6em;
        grid-template-columns: 48vw 48vw;
        grid-template-rows: 48vw 48vw;
    }
    
    .squares > *{
        height: 40vw;
        width: 40vw;
        
    }

    .emptySquare{
        display: none;
    }
}



