.bannersText {
    color: white;
    flex-direction: column;
    position: relative;
    align-items: center;
    text-align: right;
    align-self: center;
}

.bannersText h2 {
    margin: 0px;
}

.bannersText h3 {
    font-size: 1.8em;
    margin-bottom: 0.5em;
}

@media screen and (max-width: 1024px) {

    .bannersText h3 {
        font-size: 1.5em;
    }

}

@media screen and (max-width: 768px) {

    .bannersText h3 {
        font-size: 1.2em;
    }

}