.card__container {
    position: relative;
    display: flex;
    flex-flow: column;
    padding: 2rem;
    margin: 0 auto;
    background-color: #efefef;
    z-index: -1;
    gap: 2rem;
}

.card__background {
    background-color: #efefef;
    z-index: 0;
}

@media only screen and (max-width: 1024px) {
    .card__container {
        width: 100%;
    }
}
