.card__container {
    position: relative;
    display: flex;
    flex-flow: column;
    padding: 2rem 3rem;
    margin: 0 auto;
    /* border: 1px solid black; */
    background-color: #efefef;
    z-index: -1;
    gap: 2rem;
}

@media only screen and (max-width: 1024px) {
    .card__container {
        padding: 1rem 2rem;
        width: 90%;
    }
}