.card__container {
    position: relative;
    display: flex;
    flex-flow: column;
    padding: 2rem 3rem;
    margin: 0 auto;
    background-color: #efefef;
    z-index: -1;
    gap: 2rem;
}

@media only screen and (max-width: 1024px) {
    .card__container {
        padding: 1rem 0.75rem;
        width: 100%;
    }
}

.card__background {
    background-color: #efefef;
    z-index: -1;
}