.formWrapper {
    background-color: #efefef;
    padding-top: 0rem;
    width: 100%;
}

.formWrapper iframe {
    border: none;
    border-radius: 5px;
    padding: 0px;
    width: 100%;
    max-width: 1328px;
    background-color: white;
	height: 60vh;
}

@media only screen and (max-width: 1024px) {
    .formWrapper iframe  {
        margin: 1rem 0.75rem;
    }
}