.genusBanner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #807676;
    height: 40vw;
    align-items: left; 
}


.genusImage {
    width: auto;
    height: 70%;
    /*display: absolute;*/
    margin-right: 3.5em;
    margin-top: 4em;
}


@media screen and (max-width: 960px) {
    .genusBanner--data{text-align: left;}
    .genusBanner {  flex-direction: column; align-items: center; height: 180vw;}
    .genusImage {
        width: 90vw;
        height: auto;
        margin-right: 0em;
        margin-top: 0em;
        margin-bottom: 1em;
    }
}