.genusSection {
    background-color: #605F62;
}

.genusBanner {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    align-items: left;
    z-index: auto; 
}

#genusVideo, #genusImage{
    align-self: center;
    width: 100%;
}

#genusImage{
    height: 25vw;
}

.genusBanner > picture {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    
    .genusBanner {  
        display: flex;
        flex-direction: column;
    }

}

@media screen and (max-width: 578px) {
    .genusBanner {  
        height: 150vw;
    }
    
}