.genusBanner {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    background-color: #605F62;
    height: 40vw;
    align-items: left;
    z-index: auto; 
}


#genusVideo {
    height: 80%;
    padding: 2.5em;
    
}

#genusImage{
    
    height: 25vw;
    padding: 2.5em;
}
@media screen and (max-width: 1024px) {
    .genusBanner {  
        flex-direction: column;
        height: 115vw;
    }
    #genusVideo {
        align-self: center;
        width: 70vw;
        height: auto;
        margin-right: 0.3em;
        margin-top: 0;
        margin-bottom: 15vw;
    }
}

@media screen and (max-width: 578px) {
    .genusBanner {  
        height: 200vw;
    }
    #genusVideo {
        margin-bottom: 30vw;
        width: 100%;
    }
}