.heroContainer {
    height: 88vh;
    width: auto;
    object-fit: contain;
    padding-left: 3em;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.heroContainer > h1 {
    margin: 0px;
    font-weight: 500;
    letter-spacing: -0.03em;
    font-size: 2rem;
    line-height: 1.16;
    color: #ffffff;
}

.heroContainer > h2 {
    margin: 0px;
    font-weight: 500;
    letter-spacing: -0.03em;
    font-size: 1.25rem;
    line-height: 1.25;
    color: #ffffff;
}

@media (min-width: 768px) {
    .heroContainer > h1 {
        font-size: 3rem;
    }
    .heroContainer > h2 {
        font-size: 1.5rem;
        line-height: 1.32;
    }
}