.launchContainer {
    overflow-y: scroll;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 4em;
    max-width: 1328px;
    color: black;
}

.launchItem {
    display: flex;
}