.launchContainer {
    padding: 0.5em;
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    color: black;
    border-color: black;
    border-radius: 1px;
    border-style: solid;
}

.launchButton {
    font-weight: bold;
    color: black;
    background-color: white;
}

.launchButton:hover {
    background-color: gainsboro;
}

.launchTitle {
    font-weight: bold;
    font-size: 14px;
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.launchInfo {
    font-style: italic;
    font-size: 14px;
    display: flex;
    text-align: center;
    justify-content: space-around;
}