.navbarContainer {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    padding-left: 3em;
    padding-right: 1.5em;
    width: 100%;
    flex-grow: 1;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    height: 90px;
    box-sizing: border-box;
    position: fixed;
    top: 0px;
    left: 0px;
}

.navbarIcon {
    width: 150px;
    height: auto;
}

.itensContainer {
    box-sizing: border-box;
    list-style-type: none;
    justify-content: space-between;
    align-content: center;
}

.navbarItem {
    margin-right: 1em;
    justify-content: space-between;
}

.navbarItem > a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-weight: 300;
}

.navbarItem > a:hover {
    color: lightgray;
}

.itensContainerList {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.itensContainerMenu {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    left: 0px;
    top: 100px;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-color: black;
    width: 100%;
    justify-content: right;
    
}

.itensContainerMenu > li{
    padding: 1em;
    margin: 1em;
}

.menuIconDeactive {
    display: none;
}

.menuIconActive {
    color: white;
    margin: 1.5em;
    padding: 1em;
}

.itensContainerActive {
    display: flex;
}

.itensContainerDeactive {
    display: none !important;
}