.navBarContainer {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    padding-left: 3em;
    padding-right: 1.5em;
    width: 100%;
    height: 90px;
    position: fixed;
    z-index: 3;
    top: 0px;
    left: 0px;
}

.navigationMenu {
    display: none;
    flex-direction: column;
    position: fixed;
    overflow: hidden;
    left: 0px;
    top: 0px;
    margin: 0px;
    padding-top: 100px;
    padding-left: 1em;
    padding-right: 1em;
    background-color: black;
    width: 100%;
    height: 100%;
}

.navigationMenu .navbarItem {
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    border-bottom: 1px solid rgba(169, 169, 169, 0.301);
}

.navigationHeader {
    display: flex;
}

.navBarIcon {
    width: 150px;
    height: auto;
}

.navBarItem {
    padding-right: 1em;
    justify-content: space-between;
    list-style: none;
}

.navBarItem>a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-weight: 300;
}

.navBarItem>a:hover {
    color: lightgray;
}

.menuIcon {
    cursor: pointer;
    font-size: 24px;
    display: none;
    color: white;
}

@media screen and (max-width: 960px) {
    .navigationHeader {
        display: none;
    }
    .menuIcon {
        display: flex;
    }
}