.tabs {
    width: 100%;
}

.tabsList {
    display: flex;
    width: 100%;
    padding: 0;
    list-style: none;
    margin-block-end: 0;
}

.tabsTab {
    display: flex;
    width: 100%;
}

.tabsTab:hover > a {
    color: #605f62;
}

.tabsTabLink {
    text-align: center;
    font-size: 18px;
    line-height: 1.32;
    width: 100%;
    padding: 24px;
    color: #999999;
    border-bottom: 2px solid rgba(17, 17, 17, 0.2);
    cursor: pointer;
}

.tabsTabActive {
    margin-left: 4px;
    margin-right: 4px;
    color: rgb(72, 72, 75) !important;
    font-weight: 450;
    width: 100%;
    border-color: rgba(72, 72, 75, 0.7);
}

.tabsContent {
    width: 100%;
}