.projectBannerContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    align-items: left;
    z-index: auto; 
}

.projectBannerMidia {
    align-self: center;
    width: 100%;
} 

.projectBannerContainer > picture {
    align-self: center;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1024px) {

    .projectBannerContainer {
        display: flex;
        flex-direction: column;
    }

    .projectBannerMidia {
        align-self: center;
    }
}

@media screen and (max-width: 578px) {
    .projectBannerContainer{
        height: 200vw;
    }

}