.container {
	width: 100%;
	display: flex;
	flex-direction: row;
	background-color: white;
	padding: 0em 2em;
	border: 1px solid #D7D7D7;
	border-radius: 5px;
	text-align: justify;
	max-width: 1328px;
}

.info {
	width: 55%;
	text-align: justify;
	display: flex;
	flex-direction:column;
	color: #545454;
}

.cloud {
	display: flex;
	justify-content: center;
	width: 60%;
	height: 100%;
	padding-left: 3em;
}

.infoContainer{
	margin-bottom: 0.8em;
}

.info > h2 {
	margin-top: 2rem;
	margin-bottom: 10px;
	font-size: 36px;
}

.info span {
	font-weight: 400;
	font-size: 18px;
	margin-bottom: 10px;
}

.info > h3 {
	font-weight: 300;
	font-size: 18px;
}

.bubbleUI {
    position: relative;
    background-color: rgba(0, 0, 0, 0) !important;
    width: 100%;
    max-width: 1000px;
    height: 500px;
    border-radius: 50px;
    background-color: white !important;
    overflow: hidden !important;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
}

.bubbleUI>* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media screen and (max-width: 1024px) {

	.container {
		padding: 2em;
		flex-direction: column;
	}

	.info{
		width: 100%;
	}

	.info > h2 {
		margin-top: 0rem;
	}

	.cloud{
		width: 100%;
		padding-left: 0em;
	}
}

@media screen and (max-width: 768px) {

	.container {
		padding: 2em 1em;
	}

	.info > h2 {
		font-size: 24px;
	}
	
	.info span {
		font-size: 16px;
	}
	
	.info > h3 {
		font-size: 16px;
	}

}