.apoiadoresBanner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #605F62;
    height: 40vw;
}

.squares{
    align-items: center;
    display: grid;
    grid-template-columns: 15vw 15vw 15vw;
    grid-template-rows: 15vw 15vw;
    justify-items: right;
    padding: 2.5em;  
}

.squares > *{
    position: relative;
    height: 12vw;
    width: 12vw;
    background-color: #E5E5E5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

#imageOne{
    height: 6vw;
    -webkit-filter: contrast(0%) brightness(200%) saturate(0%) invert(60%);
    filter: contrast(0%) brightness(200%) saturate(0%) invert(60%);
}

#imageTwo{
    height: 4vw;
    -webkit-filter: contrast(0%) brightness(200%) saturate(0%) invert(70%);
    filter: contrast(0%) brightness(200%) saturate(0%) invert(70%);
}

#imageThree{
    height: 8vw;
    -webkit-filter: contrast(80%) brightness(200%) saturate(0%) invert(20%);
    filter: contrast(80%) brightness(200%) saturate(0%) invert(20%);
}
 
#imageFour{
    height: 18%;
    -webkit-filter: contrast(70%) brightness(200%) saturate(0%) invert(20%);
    filter: contrast(70%) brightness(200%) saturate(0%) invert(20%);
}

.squares > *:hover:not(.emptySquare){
    background-color: #bdbbbb;
}

@media screen and (max-width: 1024px) {

    .apoiadoresBanner {
        flex-direction: column;
        align-items: center;
        height: 100vw;
        text-align: center;
    }

    .squares{
        padding-top: 0;
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 25%;
        grid-template-columns: 30vw 30vw;
        grid-template-rows: 30vw 30vw;
        justify-items: center;
    }
    
    .squares > *{
        height: 25vw;
        width: 25vw;
    }

    #imageOne{
        height: 12vw;
    }
    
    #imageTwo{
        height: 8vw;
    }
    
    #imageThree{
        height: 15vw;
    }

    .emptySquare{
        display: none;
    }
}

@media screen and (max-width: 556px) {
    .apoiadoresBanner {
        height: 180vw;
    }

    .squares{
        grid-template-columns: 40vw 40vw;
        grid-template-rows: 40vw 40vw;
        padding-bottom: 40%;
    }

    .squares > *{
        height: 35vw;
        width: 35vw;
    }

    #imageOne{
        height: 16vw;
    }
    
    #imageTwo{
        height: 12vw;
    }
    
    #imageThree{
        height: 19vw;
    }
}





