.supportersSection {
    background-color: #605F62;
}

.supportersBanner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.squares{
    align-items: center;
    display: grid;
    grid-template-columns: 12vw 12vw 12vw;
    grid-template-rows: 12vw 12vw;
    justify-items: right;
}

.squares > *{
    position: relative;
    height: 9vw;
    width: 9vw;
    padding: 1em;
    background-color: #CCCCCC;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.supportersLogo {
    width: 100%;
}

.squares > *:hover:not(.emptySquare){
    background-color: #bdbbbb;
}

@media screen and (max-width: 1024px) {

    .supportersBanner {
        flex-direction: column;
        align-items: center;
        height: 100vw;
        text-align: center;
    }

    .squares{
        padding-top: 0;
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 25%;
        grid-template-columns: 30vw 30vw;
        grid-template-rows: 30vw 30vw;
        justify-items: center;
    }
    
    .squares > *{
        height: 25vw;
        width: 25vw;
    }

    #imageOne{
        height: 12vw;
    }
    
    #imageTwo{
        height: 8vw;
    }
    
    #imageThree{
        height: 15vw;
    }

    .emptySquare{
        display: none;
    }
}

@media screen and (max-width: 556px) {
    .supportersBanner {
        height: 180vw;
    }

    .squares{
        grid-template-columns: 40vw 40vw;
        grid-template-rows: 40vw 40vw;
        padding-bottom: 40%;
    }

    .squares > *{
        height: 35vw;
        width: 35vw;
    }

    #imageOne{
        height: 16vw;
    }
    
    #imageTwo{
        height: 12vw;
    }
    
    #imageThree{
        height: 19vw;
    }
}





