.card {
    display: flex;
    flex-flow: row;
    /* justify-content: center; */
    /* width: 95%; */
    border: 1px solid lightgray;
    border-radius: 0.75rem;
    font-size: 1.2rem;
    color: #454545;
    /* padding: 1rem; */
    gap: 1rem;
    /* margin: 0 auto; */
}

.card img {
    /* max-width: 50%; */
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: inherit;
}

.card p,
.card h2 {
    padding: 0 1.5rem;
}

.card__left {
    background-color: white;
    /* border: 1px solid blue; */
    border-radius: inherit;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 60%;
    object-fit: cover;
}

.card__right {
    object-fit: cover;
    /* padding: 0 1rem; */
    background-color: white;
    /* padding: 2rem; */
    /* border: 1px solid red; */
    position: relative;
    width: 40%;
    border-radius: inherit;
}

@media only screen and (max-width: 1024px) {
    .card {
        flex-flow: column nowrap;
        align-items: center;
        gap: 1rem;
    }
    .card__left {
        width: 100%;
        max-width: 100%;
    }
    .card__right {
        width: 100%;
        max-width: 100%;
    }
}