.imgSection{
    background-color: black;
    height: 55vw;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    padding-left: 2em;
    padding-right: 2em;
}

.imgSection > *{
    margin: 0;
    height: 48vw;
    border-radius: 3px;
}

.test{
    background-color: chartreuse;
    height: 30vw;
    width: 100%;
}
@media screen and (max-width: 768px) {
    .imgSection{
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
}

/*
@media screen and (max-width: 600px) {
    .imgSection{
        height: 70vw;
        flex-direction: column;
        padding-top: 1.5em;
       
    }

    .imgSection > *{
        height: 60vw;
    }
}*/