.imgSection{
    background-color: black;
    height: 55vw;
    width: auto;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    padding-left: 2em;
    padding-right: 2em;
}

.imgSection > *{
    margin: 0;
    height: 48vw;
    border-radius: 3px;
}

@media screen and (max-width: 768px) {
    .imgSection{
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
}


@media screen and (max-width: 600px) {
    .imgSection{
        height: 220vw;
        flex-direction: column;
        justify-content: space-around;
        padding: 1.5em;
       
    }

    .imgSection > *{
        width: 100%;
        height: auto;
    }
    
}