.imgSection{
    background-color: black;
    height: 55vw;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.imgSection > *{
    height: 48vw;
    border-radius: 3px;
}

#imgOne{
    padding-right: 1em;
    padding-left: 2em;
}

#imgTwo{
    padding-right: 2em;
    padding-left: 1em;
}
.test{
    background-color: chartreuse;
    height: 30vw;
    width: 100%;
}
@media screen and (max-width: 768px) {
    
}