.zenMonitorBanner {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    height: 40vw;
    align-items: left;
}

.zenMonitorImage{
    height: 38vw;
    padding-right: 10em;
    position: absolute;
    right: 0;
    bottom: 0;
} 

.zenMonitorBanner > picture{
    align-self: center;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    .zenMonitorBanner{
        flex-direction: column;
        height: 115vw;
    }

    .zenMonitorImage{
        align-self: center;
        padding-right: 4em;
        padding-left: 4em;
        right: unset;
        height: 70vw;
    }
}

@media screen and (max-width: 578px) {
    .zenMonitorBanner{
        height: 200vw;
    }
    
    .zenMonitorImage {
        width: calc(100% - 8em);
        height: auto;
    }
}