.zenMonitorSection {
    background-color: black;
}

.zenMonitorBanner {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    align-items: left;
}

.zenMonitorImage {
    align-self: center;
    width: 100%;
} 

.zenMonitorBanner > picture {
    align-self: center;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1024px) {

    .zenMonitorBanner{
        display: flex;
        flex-direction: column;
    }

    .zenMonitorImage{
        align-self: center;
        padding-right: 4em;
        padding-left: 4em;
        right: unset;
    }
}

@media screen and (max-width: 578px) {
    .zenMonitorBanner{
        height: 200vw;
    }
    
    .zenMonitorImage {
        width: calc(100% - 8em);
        height: auto;
    }
}