.zenMonitorBanner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    height: 40vw;
    align-items: left;
    
}

.zenMonitorImage {
    height: auto;
    padding-right: 7.2em;
    align-items: center;
}


@media screen and (max-width: 768px) {
    .zenMonitorBanner--data{
        text-align: left;
    }
    .zenMonitorBanner {
        flex-direction: column;
        align-items: center;
        height: 200vw;
    }
    .zenMonitorImage {
        width: 70vw;
        height: auto;
        align-items: center;
        padding-right: 0em;
    }
}